.idea
.idea/dataSources
.idea/workspace.xml
.idea/modules.xml
mainpages/__pycache__/
mainpages/migrations/__pycache__/
mainpages/static/mainpages/img/Thumbs.db
xhddjango/__pycache__/
ydys/__pycache__/
ydys/migrations/__pycache__/
mainpages/migrations/0002_ydystask.py
mainpages/migrations/0003_auto_20170331_2157.py
mainpages/migrations/0003_auto_20170401_0628.py

/datamining/mapping.py
/xhddjango/dbconfig.py
QR.png
datamining/__pycache__/
datamining/migrations/
datamining/static/datacleaning/css/bootstrap.css.map
datamining/static/datacleaning/js/bootstrap.js.map
fileprocess/__pycache__/
fileprocess/migrations/
mainpages/download/
mainpages/static/mainpages/css/bootstrap.css.map
mainpages/static/mainpages/font/
mainpages/static/mainpages/js/bootstrap.js.map
media/
models2.py
xhddjango/dbconfig2.py
