#registerOptions{
    padding: 2rem 2rem;
}
.form-control-feedback{
    visibility: hidden;
    padding-left: 1rem;
}
#registerOptions>button{
    width: 25rem;
    margin-left: 20%;
    margin-top: 2rem;
}
#userInfo>div.row{
    margin-bottom: 0.5rem;
}
#register-form-part{
    margin-top: 2rem;
}
#breadcrumbBar{
    margin: 2rem auto;
}
#breadcrumbBar>div>span{
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background:linear-gradient(135deg, transparent 0px,#7c7c7c  0) top left,
          linear-gradient(-135deg, transparent 0.8rem, #7c7c7c 0) top right,
          linear-gradient(-45deg, transparent 0.8rem, #7c7c7c 0) bottom right,
          linear-gradient(45deg, transparent 0rem, #7c7c7c 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;

}
#breadcrumbBar>div>span.active{
    background:linear-gradient(135deg, transparent 0px,#2aabd2  0) top left,
          linear-gradient(-135deg, transparent 0.8rem, #2aabd2 0) top right,
          linear-gradient(-45deg, transparent 0.8rem, #2aabd2 0) bottom right,
          linear-gradient(45deg, transparent 0rem, #2aabd2 0) bottom left;
    background-size: 60% 60%;
    background-repeat: no-repeat;
}
#serviceSelection{
    margin-top: 4rem;
}
#serviceSelection>div{
    margin-bottom: 2rem;
}
h1>i{
    margin-left: 12%;
    margin-right:5%;
    font-size: 140%;

}
.card-block>h1>span{
    font-size: 150%;
}
.card-block>button{
    margin-left: 60%;
    color: #000;
    background: #fff !important;
    border-color: #2aabd2;

}
#serviceSelection .card:hover{
    border: #2aabd2 0.05rem solid;

    background: #2aabd2;
    color: #fff;
    box-shadow: 0 0 0.2rem 0.2rem rgba(42, 171, 210, 0.25);
}