#registerOptions{
    padding: 2rem 2rem;
}
.form-control-feedback{
    visibility: hidden;
    padding-left: 1rem;
}
#registerOptions>button{
    width: 25rem;
    margin-left: 20%;
    margin-top: 2rem;
}
#userInfo>div.row{
    margin-bottom: 0.5rem;
}
#register-form-part{
    margin-top: 2rem;
}
#breadcrumbBar>div{
    color: #002a80;
    background: #8c8c8c;
    background: linear-gradient(135deg, transparent 15px, #58a 0) top left,
    linear-gradient(-135deg, transparent 15px, #655 0) top right;
}