{% extends "base.html" %}
{% block mainbody %}
            <div class="form-group row">
            <input type="text" class="form-control" id="picNumber" name="picNumber" placeholder="请输入图片编码">
            </div>
            <div class="form-group row">
            <button name="actionBtn" class="btn btn-primary btn-block" id="actionBtn" type="button">开始下载</button>
            </div>
            <div class="form-group row">
            <button name="zipBtn" class="btn btn-primary btn-block" id="zipBtn" type="button">开始解压缩</button>
            </div>
            <div class="form-group row">
            <button name="dealXlsx" class="btn btn-primary btn-block" id="dealXlsx" type="button">开始处理文件</button>
            </div>
            <div class="form-group row">
            <button name="collectxlsBtn" class="btn btn-primary btn-block" id="collectxlsBtn" type="button">开始汇总XLS文件</button>
            </div>
<form name="fileSelectForm" id="fileSelectForm" method="get" action="">
  <div class="form-group">
    <label for="fileSelect">请选择要处理的文件</label>
    <select class="form-control" id="fileSelect">
        {% for file in files %}
        <option value="{{ file.id }}">{{ file.filename }}</option>
      {% endfor %}
    </select>
  </div>
</form>
{% endblock %}
{% block loadjs %}
<script src="/static/datacleaning/js/datacleaning.js" charset="UTF-8"></script>
{% endblock %}

