
body, button, input, select, textarea{
    font-family: "Microsoft Yahei","Hiragino Sans GB",tahoma,arial !important;
    outline:none;
  }
header{
    background-color: rgb(68,68,68);
    padding-left: 2rem;
    padding-right: 2rem;
    border-bottom: #2aabd2  0.2rem solid;
}
header li a.nav-link{
    font-size: 80%;
    color: #2aabd2;
    padding: 0.08rem 2rem;
}
header li{
    margin-right: 1rem;
    border-radius: 5%;
}

#nav{
    border-right-width: 0;
    padding-left: 2rem;
}
#nav>ul{
    /*background-color: #f0f0f0;*/
    background-color: rgb(68,68,68);
}
#nav>ul>li{
    padding: 1rem 0rem;
    /*border-right: #f0f0f0 0.4rem solid;
    border-left: #f0f0f0 0.4rem solid;*/
    border-bottom: #2aabd2 0.1rem solid;

}
#nav li:first-child{
    border-top: #f9f9f9 0.1rem solid;
    /*margin-top: 4rem;*/
}
#nav li:hover{
    border-right: #2aabd2 0.4rem solid;
    border-left: #2aabd2 0.4rem solid;
}
#nav a{
    /*color: #0c3c26;*/
    color: #fff;
    text-align: center;
}
#nav a:link,#nav a:visited{
    color: #fff;
}


#main-body{
    margin-top: 4rem;
    height:auto;
    min-height: 30rem;
    background-color: #f0f3f5;
}
body>div>div.row{
    height:auto;
    min-height: 31rem;
}
#main{
    padding: 1rem 1rem;
}
.page-title{

    margin-left: 1rem;
}
.lead{
    text-align: right;
    padding-right: 2rem;
}
#jn1,#jn2{
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-radius: 0;
    background: url("../img/bg1.jpg") center;
    background-size: cover;
    color: #fff;
}
.jn-comment{
    display: inline-block;
    font-size: 80%;
    width:50%;

}
a.register-btn{
    color: #fff;
    border: #2aabd2 0.1rem solid;
    border-radius: 0;
}
a.register-btn:hover{
    color: #fff;
    font-weight: 900;
    background-color: #2aabd2;
    border: #2aabd2 0.1rem solid;
}
#footer{
    color: #f0f0f0;
    background-color: rgb(68,68,68);
    border-top: #2aabd2  0.2rem solid;
    padding: 0.8rem 2rem;
    text-align: center;
}
.btn.btn-primary{
    background-color: #2aabd2;
    border-color: #2aabd2;
}
.btn.btn-primary:hover{
    background-color: #40d0f0 !important;
    border-color: #40d0f0 ;
}
.form-row{
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
}