<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpages/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainpages/css/bootstrap.css' %}" />
    <script src="{% static 'mainpages/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'mainpages/js/tether.min.js' %}"></script>
    <script src="{% static 'mainpages/js/bootstrap.js' %}"></script>
    <title>Title</title>
</head>
<body>
<header>
    <div class="navbar navbar-toggleable-sm navbar-inverse  justify-content-between">
        <a class="navbar-brand" href="#"><img src="{% static 'mainpages/img/headerlogo.png' %}" width="160rem"></a>

        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">登录</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">注册</a>
          </li>
        </ul>
    </div>

</header>
    {% if latest_user_list %}
        <h3>用户列表</h3>
        <ul>
        {% for user in latest_user_list %}
            <li><a href="{% url 'mainpages:showuser' mobile=user.mobile %}">{{ user.mobile }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No users are available.</p>
    {% endif %}
</body>
</html>