{% extends "base.html" %}
{% block mainbody %}
        <div class="jumbotron" id="jn1">
          <h1>数据深度</h1>
          <br/>
          <p class="jn-comment">面向以手机终端作为客户身份验证追踪界面的各行业企业，以批量和实时查询接口的方式对中国电信的
              用户身份进行核实的数据产品。</p>
          <br/><br/><br/>
          <p class="lead">
            <a class="btn register-btn" href="{% url 'mainpages:register' %}" role="button">快速注册</a>
          </p>
        </div>
        <div class="jumbotron" id="jn2">
            <h1>开放有度</h1>
            <br/>
              <p class="jn-comment">This is a simple hero unit, a simple jumbotron-style component for calling extra
                  attention to featured content or information.</p>
            <br/><br/><br/>
              <p class="lead" >
                <a class="btn register-btn" href="{% url 'mainpages:register' %}" role="button">快速注册</a>
              </p>
        </div>
{% endblock %}
