<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="icon" sizes="200x200" href="{% static 'mainpages/favicon.ico' %}" />
    <link rel="shortcut icon" href="{% static 'mainpages/favicon.ico' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainpages/css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainpages/css/register.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainpages/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'mainpages/css/fontawesome.css' %}" />

    <title>有度有数</title>
</head>
<body>

<header class="fixed-top">
    <div class="navbar navbar-toggleable-sm navbar-inverse justify-content-between">
        <a class="navbar-brand" href="#">
            <img src="{% static 'mainpages/img/headerlogo.png' %}" width="140rem">
        </a>
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link register-btn" href="#">登&nbsp&nbsp录</a>
          </li>
          <li class="nav-item">
            <a class="nav-link register-btn" href="#">注&nbsp&nbsp册</a>
          </li>
        </ul>
    </div>

</header>
<div class="container-fluid" id="main-body">

<div class="row">
    <nav class="col-2 " id="nav">
        <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link active" href="#">首&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp页</a></li>
            <li class="nav-item"><a class="nav-link" href="#">个人中心</a></li>
            <li class="nav-item"><a class="nav-link" href="#">产品介绍</a></li>
            <li class="nav-item"><a class="nav-link" href="#">关于我们</a></li>
            <li class="nav-item"><a class="nav-link disabled" href="#">待定</a></li>
        </ul>
    </nav>
    <main class="col-10" id="main">
        <h6 class="page-title">用户注册</h6>
        <hr>

        <div id="registerOptions">
            <button type="button" class="btn btn-primary btn-lg" id="onlineRegister" >线上注册</button>
            <br/>
            <button type="button" class="btn btn-primary btn-lg" id="tryContact">联系一下</button>
        </div>
        <div id="breadcrumbBar" class="row" style="display: none">
            <div id="firstStep" class="offset-2 col-2"><span class="active">创建用户</span></div>
            <div id="secondStep" class="col-2"><span>申请服务</span></div>
            <div id="thirdStep" class="col-2"><span>提交材料</span></div>
        </div>
        <div id="register-form-part">
            <form name="registerForm" id="registerForm" action="{% url 'mainpages:createuser' %}" method="post">
                {% csrf_token %}
                <div id="userInfo" style="display: none">
                    <div class="form-group row">
                        <div class="col-6 offset-2">
                            <input type="text" class="form-control" name="userName" id="userName" placeholder="用户名">
                            <div class="form-control-feedback">请输入用户名</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 offset-2">
                            <input type="password" class="form-control" name="password" id="password"  placeholder="密码">
                            <div class="form-control-feedback">请输入密码</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 offset-2">
                            <input type="password" class="form-control"  id="passwordConfirmation" placeholder="请再次输入密码">
                            <div class="form-control-feedback">两次密码不一致</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 offset-2">
                            <input type="text" class="form-control" id="enterpriseName" name="enterpriseName" placeholder="企业名称">
                            <div class="form-control-feedback">请输入企业名称</div>
                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-6 offset-2">
                            <input type="text" class="form-control" id="contactName" name="contactName" placeholder="联系人姓名">
                            <div class="form-control-feedback">请输入联系人名称</div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 offset-2">
                            <input type="text" class="form-control" id="contactNumber" name="contactNumber" placeholder="联系人手机号码">
                            <div class="form-control-feedback">请输入联系人手机号</div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-6 offset-2">
                        <button type="button" class="btn btn-primary btn-block" id="nextStep">下一步</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-6 offset-2">
                        <button type="button" class="btn btn-primary btn-block" id="submit-btn">提交</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="serviceSelection" style="display: none">
            <div class="row">
            <div class="offset-1 col-3">
                <div class="card">
                  <div class="card-block">
                      <h1 class="card-title"><i class="icon-group"></i><span>查</span></h1>
                      <br/><br/>
                    <p class="card-text">查人服务：用户信息/信用稽查</p>
                    <button href="#" class="btn btn-primary text-right">修改</button>
                  </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                  <div class="card-block">
                      <h1 class="card-title"><i class="icon-pencil"></i><span>画</span></h1>
                      <br/><br/>
                    <p class="card-text">画人服务：用户兴趣标签查询</p>
                    <button href="#" class="btn btn-primary text-right">修改</button>
                  </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                  <div class="card-block">
                      <h1 class="card-title"><i class="icon-search"></i><span>找</span></h1>
                      <br/><br/>
                    <p class="card-text">找人服务：目标客户精准营销</p>

                    <button href="#" class="btn btn-primary text-right">修改</button>
                  </div>
                </div>
            </div>
            </div>
            <div class="row">
                        <div class="col-6 offset-2">
                        <button type="button" class="btn btn-primary btn-block" id="previousStep">上一步</button>
                        </div>
                    </div>
        </div>
    </main>
    <script src="{% static 'mainpages/js/jquery-3.1.1.min.js' %}"></script>

    <script src="{% static 'mainpages/js/register.js' %}" charset="UTF-8"></script>
</div>
</div>
<footer id="footer">
    <span>&copy;中国电信股份有限公司北京分公司版权所有</span>
</footer>
</body>
</html>