<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{ user.mobile }}</h1>
<ul>
{% for order in user.order_set.all %}
    <li>{{ order.out_trade_no }}</li>
{% endfor %}
</ul>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'mainpages:useramount' mobile=user.mobile %}" method="post">
{% csrf_token %}
{% for order in user.order_set.all %}
    <input type="radio" name="order" id="order{{ forloop.counter }}" value="{{ order.out_trade_no }}" />
    <label for="order{{ forloop.counter }}">{{ order.total_fee }}</label><br />
{% endfor %}
    <label for="amount">金额</label>
    <input type="text" name="amount" id="amount">
<input type="submit" value="Submit" />
</form>

</body>
</html>