{% extends "base.html" %}
{% block mainbody %}
    <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="{% url 'datamining:index' %}">数据处理</a>
        <a class="list-group-item list-group-item-action" href="{% url 'datamining:product_info_list' %}">产品列表</a>
        <a class="list-group-item list-group-item-action" href="{% url 'datamining:wechat' %}">微信数据</a>
        <a class="list-group-item list-group-item-action" href="{% url 'datamining:showname' %}">用户列表</a>
        <a class="list-group-item list-group-item-action" href="{% url 'fileprocess:index' %}">文件处理</a>
        <a class="list-group-item list-group-item-action" href="{% url 'datamining:update_data_index' %}">数据导入</a>
        <a class="list-group-item list-group-item-action" href="{% url 'mainpages:index' %}">测试</a>
    </div>
{% endblock %}